* { 
  box-sizing:border-box 
}

body {
    font-size: 16px;
    background-color: #fff;
    font-family:"Comic Sans MS", cursive, sans-serif;
  }

/** HEADER **/
header {
  border-style: solid;
  border-width: 4px;
}

.container {
  margin: 0;
}

#main-content {
  margin: auto;
}

.navbar-header {
  width: 100%;
}

.navbar-brand h1 { /* Company name */
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-decoration: none;
}

ul {
  width: 100%;
  color: black;
  font-weight: bold;
  background: white;
}
.navbar-header button.navbar-toggler {
  clear: both;
}

#test {
  position: absolute;
  right: 0;
  margin-top: 7px;
  margin-right: 5px;
  border-color: black;
}

/** MAIN CONTENT **/
#maintitle {
  margin: 30px;
}


article {
  background-color: gray;
  padding: 7px;
  margin-bottom: 20px;
}
